.NoteBrowser{
  display: inline-flex;
  padding: 10px;  
}

.NoteItem{
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 4px;  
  border-style: outset;
  border-width: 1px;
  
  border-radius: 10px;
  cursor: pointer;
}

.NoteLabel{
  padding-right: 30px;
  padding-top: 4px;
}

.Title{
  padding: 20px;
  text-align: center;
}